services:
  app:
    build: ./docker/php
    container_name: laravel_app
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
      - redis

  db:
    image: postgres:16
    container_name: laravel_db
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  loki:
    image: grafana/loki:3.0.0
    container_name: laravel_loki
    profiles: ["observability"]
    command: -config.file=/etc/loki/config.yml
    ports:
      - "3100:3100"
    volumes:
      - ./docker/observability/loki/config.yml:/etc/loki/config.yml:ro
      - loki_data:/loki

  promtail:
    image: grafana/promtail:3.0.0
    container_name: laravel_promtail
    profiles: ["observability"]
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - ./docker/observability/promtail/config.yml:/etc/promtail/config.yml:ro
      - .:/var/www/html:ro
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:11.1.0
    container_name: laravel_grafana
    profiles: ["observability"]
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_USERS_ALLOW_SIGN_UP: "false"
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./docker/observability/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./docker/observability/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
      - ./docker/observability/grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - loki
  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: [ "redis-server", "--appendonly", "yes" ]

volumes:
  pgdata:
  loki_data:
  grafana_data:
  redis_data:
